.Task {
    border: 2px solid #3a36ff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto 15px;
}
.Task span {
    position: absolute;
    top: 10%;
    right: 2%;
    font-weight: bold;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
}
.Text {
    clear: both;
    word-wrap: break-word;
}
.Done {
    float: left;
    margin-left: 10px;
    font-weight: b;
    text-decoration: underline;
}